{% extends "base.html" %}
{% block content %}
{{ super() }}

<h1>Visualization</h1>

<div>
	<p>The current version of our system can visualize two kinds of files: CSV 
	and NetCDF. The visualization is different from traditional visualization.
	Users can interact with the visualization results (zoom in, zoom out, and 
	download the chosen part data)</p>
	<p>Please choose one of the following kinds of files that you want to 
	visualize</p>
<div>

<div class="button">
	<p><input type="button" onclick="location.href='/visualization/CSV/';" value="CSV" /></p>
	<p><input type="button" onclick="location.href='/visualization/NetCDF/';" value="NetCDF" /></p>
</div>



{% endblock %}
