{% extends "base.html" %}
{% block content %}
{{ super() }}

<h1>NetCDF Visualization</h1>

<div>
	<p>You have chosen to visualize a NetCDF file</p>
	<p>Please choose how you want to access the file that 
	you want to visualize</p>
	<p style="color:red">for the current version, you can just upload files</p>
<div>

<div class="button">
	<p><input type="button" onclick="location.href='/visualization/NetCDF/upload_page';" value="Upload a file" /></p>
	<p><input type="button" value="Show me file list in the database" /></p>
</div>



{% endblock %}
