{% extends "base.html" %}
{% block content %}
{{ super() }}

<!-- THIS HTML IS MAINLY USED FOR SPECIFY DIMENSTIONS -->

<style> /* set the local CSS */
div.DimensionMetadata
{
	display:none;
}
</style>

<!-- THIS IS USED TO GET METADATA OF DIMENSIONS-->
<div class="DimensionMetadata">
	<p class="SpecifyDimensionNameList">
		{{specify_dimension_list|join(", ")}}
	</p>

	{% for item in dimension_information_list %}
		<p class="{{item.dimension_name}}Paragraph">
			{{ item.dimension_value_list|join(", ") }}
		</p>
	{% endfor %}
	
</div>

<div>
<p>
	<li style="font-weight: bold">Step Four: Specify other dimensions</li>
	You have chosen {{xaxis}} to be x axis and {{yaxis}} to be y axis
	from {{variablename}} (variable name). Please specify the left dimensions by 
	using the sliders.
</p>

<p class="sliderParagraph">
	{% for item in dimension_information_list %}
		<li>{{item.dimension_name}}
			<input type="range" min="1" max="{{item.dimension_value_list|length}}" step="1" style="width:200px; height:20px;" id="{{item.dimension_name}}SliderRange" onChange="updateText(this.value,this.id)">
		</li>
		<li class="{{item.dimension_name}}Value"></li>
	{% endfor %}
</p>

<p class="visualizationButtonParagraph"></p>

</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src='js/netcdf_line_chart_slider.js' type='text/javascript'></script>

{% endblock %}
